@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?39c3ab9292b4311dca59464a61c56f50") format("truetype"),
url("./flaticon.woff?39c3ab9292b4311dca59464a61c56f50") format("woff"),
url("./flaticon.woff2?39c3ab9292b4311dca59464a61c56f50") format("woff2"),
url("./flaticon.eot?39c3ab9292b4311dca59464a61c56f50#iefix") format("embedded-opentype"),
url("./flaticon.svg?39c3ab9292b4311dca59464a61c56f50#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cybercrime:before {
    content: "\f101";
}
.flaticon-settings-cog:before {
    content: "\f102";
}
.flaticon-cyber-security:before {
    content: "\f103";
}
.flaticon-threat:before {
    content: "\f104";
}
.flaticon-cyber:before {
    content: "\f105";
}
.flaticon-security:before {
    content: "\f106";
}
.flaticon-cloud-password:before {
    content: "\f107";
}
.flaticon-right-arrow:before {
    content: "\f108";
}
.flaticon-right-arrow-1:before {
    content: "\f109";
}
.flaticon-previous:before {
    content: "\f10a";
}
